In [1]:
import pandas as pd

In [2]:
weather_df = pd.read_csv("resources/clean_us_weather.csv")
accident_df = pd.read_csv("resources/clean_us_accident.csv")

In [3]:
weather_df.head()

,Unnamed: 0,EventId,Type,Severity,Weather_Start_Time(UTC),EndTime(UTC),TimeZone,AirportCode,City,State
0,1721,W-1722,Snow,Light,2020-01-01 19:30:00,2020-01-01 22:12:00,US/Mountain,K04V,Saguache,CO
1,1722,W-1723,Snow,Light,2020-01-02 00:32:00,2020-01-02 00:50:00,US/Mountain,K04V,Saguache,CO
2,1723,W-1724,Snow,Light,2020-01-02 01:12:00,2020-01-02 01:30:00,US/Mountain,K04V,Saguache,CO
3,1724,W-1725,Snow,Light,2020-01-02 04:12:00,2020-01-02 04:30:00,US/Mountain,K04V,Saguache,CO
4,1725,W-1726,Snow,Light,2020-01-02 05:30:00,2020-01-02 06:12:00,US/Mountain,K04V,Saguache,CO

In [4]:
accident_df.head()

,Unnamed: 0,ID,Accident_Severity,Accident_Start_Time,Accident_End_Time,Description,City,State
0,512217,A-512230,2,2020-12-31 10:47:49,2020-12-31 12:19:16,Accident on Day Rd near CR-7 Slayton Settlemen...,Lockport,NY
1,512218,A-512231,2,2020-12-31 13:24:43,2020-12-31 13:54:32,Accident on Oliver St at Schenck St.,North Tonawanda,NY
2,512219,A-512232,3,2020-12-31 13:29:34,2020-12-31 14:59:19,Accident on I-90 Westbound at NY-5.,Silver Creek,NY
3,512220,A-512233,2,2020-12-31 04:35:33,2020-12-31 05:35:36,Accident on Storrow Dr inbound near S Curve.,Boston,MA
4,512221,A-512234,2,2020-12-31 05:11:11,2020-12-31 07:00:16,Accident on Lincoln St at Cambridge St.,Allston,MA

In [5]:
weather_df = weather_df.drop(columns='Unnamed: 0')
accident_df = accident_df.drop(columns='Unnamed: 0')

In [6]:
date = weather_df['Weather_Start_Time(UTC)'].str.split(" ", n=1, expand=True)
x = date[0]

In [7]:
weather_df['date'] = x

In [8]:
weather_df.drop(columns=['Weather_Start_Time(UTC)', 'EndTime(UTC)'], inplace=True)

In [9]:
weather_df.drop_duplicates(subset=['date'], inplace=True)
weather_df

,EventId,Type,Severity,TimeZone,AirportCode,City,State,date
0,W-1722,Snow,Light,US/Mountain,K04V,Saguache,CO,2020-01-01
1,W-1723,Snow,Light,US/Mountain,K04V,Saguache,CO,2020-01-02
7,W-1729,Snow,Light,US/Mountain,K04V,Saguache,CO,2020-01-10
8,W-1730,Snow,Light,US/Mountain,K04V,Saguache,CO,2020-01-12
9,W-1731,Fog,Severe,US/Mountain,K04V,Saguache,CO,2020-01-17
...,...,...,...,...,...,...,...,...
6093,W-33616,Fog,Severe,US/Eastern,KPSF,Pittsfield,MA,2020-10-31
6096,W-33619,Rain,Light,US/Eastern,KPSF,Pittsfield,MA,2020-11-02
6100,W-33623,Snow,Light,US/Eastern,KPSF,Pittsfield,MA,2020-11-03
7517,W-41187,Rain,Moderate,US/Eastern,KNBT,Davis,NC,2020-02-21
14714,W-73577,Fog,Severe,US/Pacific,KSPB,Scappoose,OR,2020-11-04

In [10]:
date2 = accident_df['Accident_Start_Time'].str.split(" ", n=1, expand=True)
x = date2[0]

In [11]:
accident_df['date'] = x

In [12]:
accident_df.drop(columns=['Accident_Start_Time', 'Accident_End_Time'], inplace=True)

In [13]:
accident_df.drop_duplicates(subset=['date'], inplace=True)
accident_df

,ID,Accident_Severity,Description,City,State,date
0,A-512230,2,Accident on Day Rd near CR-7 Slayton Settlemen...,Lockport,NY,2020-12-31
76,A-512307,3,Two lanes blocked due to accident on I-278 Bro...,Brooklyn,NY,2020-12-30
1483,A-513719,4,Lane blocked due to accident on I-380 Northbou...,Moscow,PA,2020-12-29
4018,A-516254,2,Left lane blocked due to accident on WA-520 We...,Seattle,WA,2020-12-28
4560,A-516796,3,Entry ramp closed due to incident on Port Miam...,Miami,FL,2020-12-27
...,...,...,...,...,...,...
470317,A-2954032,2,I5 S BIRMINGHAM NO. 504C; MAKE 1185 - 3A NEG O...,Cardiff By the Sea,CA,2020-12-04
806164,A-3294664,2,Incident on SC-183 near SC-253 Expect delays.,Greenville,SC,2020-05-04
1115336,A-3605758,2,At IN-243/Exit 37 - Accident. Right lane blocked.,Reelsville,IN,2020-03-29
1116428,A-3606850,2,At VT-73 - Accident. Right lane closed.,Brandon,VT,2020-03-30
1118015,A-3608437,3,At Lewis St - Overturned vehicle. Left lane bl...,Indianapolis,IN,2020-03-31

In [14]:
#DataFrame.merge(right, how='inner', on=None
combined_df = weather_df.merge(accident_df,how='outer', on = 'date')
combined_df

,EventId,Type,Severity,TimeZone,AirportCode,City_x,State_x,date,ID,Accident_Severity,Description,City_y,State_y
0,W-1722,Snow,Light,US/Mountain,K04V,Saguache,CO,2020-01-01,A-978027,2,Accident on I-90 Westbound between Exit 48 NY-...,Buffalo,NY
1,W-1723,Snow,Light,US/Mountain,K04V,Saguache,CO,2020-01-02,A-978375,2,Accident on Oak Ridge Rd at Tiner Ave.,Orlando,FL
2,W-1729,Snow,Light,US/Mountain,K04V,Saguache,CO,2020-01-10,A-886644,1,Accident on Silverton Rd at Stapleton Ave.,Brick,NJ
3,W-1730,Snow,Light,US/Mountain,K04V,Saguache,CO,2020-01-12,A-890815,3,Left lane blocked and left hand shoulder block...,Detroit,MI
4,W-1731,Fog,Severe,US/Mountain,K04V,Saguache,CO,2020-01-17,A-899234,3,Right lane blocked due to accident on I-278 Br...,Brooklyn,NY
...,...,...,...,...,...,...,...,...,...,...,...,...,...
361,W-33616,Fog,Severe,US/Eastern,KPSF,Pittsfield,MA,2020-10-31,A-590648,3,Left lane blocked due to accident on I-5 South...,Olympia,WA
362,W-33619,Rain,Light,US/Eastern,KPSF,Pittsfield,MA,2020-11-02,A-586965,3,Entry ramp to I-77 Southbound from St Michaels...,Akron,OH
363,W-33623,Snow,Light,US/Eastern,KPSF,Pittsfield,MA,2020-11-03,A-585135,4,Main roadway closed due to accident on I-94 Ea...,Climax,MI
364,W-41187,Rain,Moderate,US/Eastern,KNBT,Davis,NC,2020-02-21,A-964335,2,Right lane blocked due to accident on I-90 Wes...,Buffalo,NY
365,W-73577,Fog,Severe,US/Pacific,KSPB,Scappoose,OR,2020-11-04,A-583642,4,Three lanes blocked due to accident on I-40 We...,Graham,NC

In [15]:
accident_df.to_csv('resources/accident_df_final.csv')
weather_df.to_csv('resources/weather_df_final.csv')
combined_df.to_csv('resources/combined_df_final.csv')