In [2]:
import pandas as pd

In [1]:
csv_path = 'resources/us_accident.csv'
accident_df = pd.read_csv(csv_path)
accident_df.head(100)

,ID,Source,TMC,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-1,MapQuest,201.0,3,2016-02-08 05:46:00,2016-02-08 11:00:00,39.865147,-84.058723,NaN,NaN,...,False,False,False,False,False,False,Night,Night,Night,Night
1,A-2,MapQuest,201.0,2,2016-02-08 06:07:59,2016-02-08 06:37:59,39.928059,-82.831184,NaN,NaN,...,False,False,False,False,False,False,Night,Night,Night,Day
2,A-3,MapQuest,201.0,2,2016-02-08 06:49:27,2016-02-08 07:19:27,39.063148,-84.032608,NaN,NaN,...,False,False,False,False,True,False,Night,Night,Day,Day
3,A-4,MapQuest,201.0,3,2016-02-08 07:23:34,2016-02-08 07:53:34,39.747753,-84.205582,NaN,NaN,...,False,False,False,False,False,False,Night,Day,Day,Day
4,A-5,MapQuest,201.0,2,2016-02-08 07:39:07,2016-02-08 08:09:07,39.627781,-84.188354,NaN,NaN,...,False,False,False,False,True,False,Day,Day,Day,Day
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,A-96,MapQuest,201.0,2,2016-02-11 07:28:16,2016-02-11 07:58:16,39.994061,-82.729416,NaN,NaN,...,False,False,False,False,False,False,Day,Day,Day,Day
96,A-97,MapQuest,201.0,3,2016-02-11 07:29:06,2016-02-11 08:18:10,41.355396,-81.819267,NaN,NaN,...,False,False,False,False,False,False,Day,Day,Day,Day
97,A-98,MapQuest,201.0,2,2016-02-11 07:53:55,2016-02-11 08:23:55,39.687389,-84.237968,NaN,NaN,...,False,False,False,False,False,False,Day,Day,Day,Day
98,A-99,MapQuest,201.0,2,2016-02-11 08:07:02,2016-02-11 08:37:02,39.751038,-84.214325,NaN,NaN,...,False,False,False,False,False,False,Day,Day,Day,Day
99,A-100,MapQuest,201.0,2,2016-02-11 08:13:24,2016-02-11 08:43:24,39.749916,-84.139359,NaN,NaN,...,False,False,False,False,False,False,Day,Day,Day,Day

In [4]:
clean_df = accident_df[accident_df['Start_Time'].str.match('2020-')]
clean_df.head()

,ID,Source,TMC,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
512217,A-512230,MapQuest,201.0,2,2020-12-31 10:47:49,2020-12-31 12:19:16,43.207451,-78.650032,NaN,NaN,...,False,False,False,False,False,False,Day,Day,Day,Day
512218,A-512231,MapQuest,201.0,2,2020-12-31 13:24:43,2020-12-31 13:54:32,43.030651,-78.875862,NaN,NaN,...,False,False,False,False,True,False,Day,Day,Day,Day
512219,A-512232,MapQuest,201.0,3,2020-12-31 13:29:34,2020-12-31 14:59:19,42.550568,-79.108765,NaN,NaN,...,False,False,False,False,False,False,Day,Day,Day,Day
512220,A-512233,MapQuest,201.0,2,2020-12-31 04:35:33,2020-12-31 05:35:36,42.362038,-71.071365,NaN,NaN,...,False,False,False,False,False,False,Night,Night,Night,Night
512221,A-512234,MapQuest,201.0,2,2020-12-31 05:11:11,2020-12-31 07:00:16,42.357281,-71.128036,NaN,NaN,...,False,True,False,False,True,False,Night,Night,Night,Night

In [6]:
cleaner_df = clean_df[['ID','Severity', 'Start_Time', 'End_Time','Description','City','State']]
cleaner_df

,ID,Severity,Start_Time,End_Time,Description,City,State
512217,A-512230,2,2020-12-31 10:47:49,2020-12-31 12:19:16,Accident on Day Rd near CR-7 Slayton Settlemen...,Lockport,NY
512218,A-512231,2,2020-12-31 13:24:43,2020-12-31 13:54:32,Accident on Oliver St at Schenck St.,North Tonawanda,NY
512219,A-512232,3,2020-12-31 13:29:34,2020-12-31 14:59:19,Accident on I-90 Westbound at NY-5.,Silver Creek,NY
512220,A-512233,2,2020-12-31 04:35:33,2020-12-31 05:35:36,Accident on Storrow Dr inbound near S Curve.,Boston,MA
512221,A-512234,2,2020-12-31 05:11:11,2020-12-31 07:00:16,Accident on Lincoln St at Cambridge St.,Allston,MA
...,...,...,...,...,...,...,...
3741840,A-3748701,2,2020-01-06 20:59:00,2020-01-06 21:32:38,At I-5 - Accident.,Mission Hills,CA
3741841,A-3748702,2,2020-01-06 21:14:00,2020-01-06 23:16:38,At Utica Ave - Accident.,Lost Hills,CA
3741842,A-3748703,2,2020-01-06 21:19:00,2020-01-06 22:19:37,At N Virgil Ave - Accident.,Los Angeles,CA
3752192,A-3759053,2,2020-01-01 00:08:02,2020-01-01 00:37:03,At Clark St/Exit 47A - Accident. Left lane blo...,Detroit,MI
3752228,A-3759089,4,2020-01-01 00:31:17,2020-01-01 00:59:51,Closed at St Barnabas Rd - Road closed due to ...,Suitland,MD

In [7]:
cleaner_df = cleaner_df.rename(columns = {'Severity': 'Accident_Severity'})

In [9]:
cleaner_df = cleaner_df.rename(columns = {'Start_Time': 'Accident_Start_Time', 'End_Time': 'Accident_End_Time'})

In [10]:
cleaner_df.to_csv('resources/clean_us_accident')

,ID,Accident_Severity,Accident_Start_Time,Accident_End_Time,Description,City,State
512217,A-512230,2,2020-12-31 10:47:49,2020-12-31 12:19:16,Accident on Day Rd near CR-7 Slayton Settlemen...,Lockport,NY
512218,A-512231,2,2020-12-31 13:24:43,2020-12-31 13:54:32,Accident on Oliver St at Schenck St.,North Tonawanda,NY
512219,A-512232,3,2020-12-31 13:29:34,2020-12-31 14:59:19,Accident on I-90 Westbound at NY-5.,Silver Creek,NY
512220,A-512233,2,2020-12-31 04:35:33,2020-12-31 05:35:36,Accident on Storrow Dr inbound near S Curve.,Boston,MA
512221,A-512234,2,2020-12-31 05:11:11,2020-12-31 07:00:16,Accident on Lincoln St at Cambridge St.,Allston,MA
...,...,...,...,...,...,...,...
3741840,A-3748701,2,2020-01-06 20:59:00,2020-01-06 21:32:38,At I-5 - Accident.,Mission Hills,CA
3741841,A-3748702,2,2020-01-06 21:14:00,2020-01-06 23:16:38,At Utica Ave - Accident.,Lost Hills,CA
3741842,A-3748703,2,2020-01-06 21:19:00,2020-01-06 22:19:37,At N Virgil Ave - Accident.,Los Angeles,CA
3752192,A-3759053,2,2020-01-01 00:08:02,2020-01-01 00:37:03,At Clark St/Exit 47A - Accident. Left lane blo...,Detroit,MI
3752228,A-3759089,4,2020-01-01 00:31:17,2020-01-01 00:59:51,Closed at St Barnabas Rd - Road closed due to ...,Suitland,MD